.about-section {
    padding: 60px 40px;
}

.about-section h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    margin: 0 0 10px;
    padding-left: 50px; /* Adjusted to match the image margin-right */
}

.about-content {
    display: flex;
    align-items: center;
    padding-left: 50px; /* Adjusted to match the image margin-right */
}

.about-photo {
    width: 300px; /* Adjust the size of the photo */
    height: auto;
    margin-right: 50px; /* Space between the photo and the bio */
    min-width: 150px;
}

.bio {
    max-width: 600px;
}

.bio h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
}

.bio p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #666;
}

/* Media Query for smaller screens */
@media (max-width: 800px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-photo {
        margin: 0 auto 20px;
        width: 100%; /* Adjust the size of the photo for smaller screens */
        height: auto;
    }

    .bio {
        max-width: none;
    }

    .about-section h1 {
        padding-left: 20px; /* Adjust padding for smaller screens */
    }

    .about-content {
        padding-left: 20px; /* Adjust padding for smaller screens */
    }
}