@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.header {
    background-color: rgb(192,192,192);
    padding: 20px 40px;
    display: flex;
    justify-content: flex-start;
}

.header nav a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    transition: text-decoration 0.3s ease;
}

.header nav a:hover {
    text-decoration: underline;
}

.header nav .dropdown {
    position: relative;
    display: inline-block;
}

.header nav .dropbtn {
    padding: 7px 20px; 
    position: relative;
    transition: text-decoration 0.3s ease;
}

.header nav .dropbtn:hover {
    text-decoration: underline; 
}

.header nav .dropbtn::after {
    content: '';
    position: absolute;
    right: 5px;
    bottom: 12px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}

.header nav .dropdown-content {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    background-color: #444;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.header nav .dropdown-content a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-weight: 300; 
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.header nav .dropdown-content a:hover {
    background-color: #555;
}

.header nav .dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.header nav .dropdown:hover .dropbtn {
    background-color: #444;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;
    background-color: #f4f4f4;
    height: calc(100vh - 60px); /* Adjust height based on the header height */
}

.hero-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.hero-photo {
    width: 500px; /* Adjust the size of the photo */
    height: 500px; /* Keep it square */
    object-fit: cover;
    margin-right: 50px; /* Space between the photo and the text */
}

/* Hero text styles */
.hero-text {
    max-width: 600px;
}

.hero h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 64px; /* Increase font size */
    margin: 0 0 10px;
}

.hero p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px; /* Increase font size */
    margin-top: 0;
}

.skills{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 10px 50px;
}
.skills h2{
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    font-size: 60px;
    text-decoration: underline;
    margin-bottom: 40px;
}
.skill p{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 32px;

}
.skills-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; 
}
.skills-tech, .skills-platform {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1575px;
}

.icon-container {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #f1f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
    position: relative;
}

.icon-container img {
    max-width: 70%;
    max-height: 70%;
}
.icon-container .python-icon {
    max-width: 280%; 
    max-height: 280%;
    transform: translate(-0.5%, -4%); /* Move the image up */
}
.icon-container .c-icon {
    max-width: 120%; 
    max-height: 120%;
}
.skills-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white; 
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.skills-shop h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin: 0;
}

.skills-shop p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    max-width: 400px; 
    text-align: center; 
    margin: 0;
}

.footer {
    background-color: rgb(192,192,192);
    padding: 20px 40px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.footer nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer nav a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    transition: text-decoration 0.3s ease;
}

.footer nav a:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-photo {
        width: 400px;
        height: 400px;
        margin: 0 auto 20px;
    }

    .hero h1 {
        font-size: 56px;
    }

    .hero p {
        font-size: 20px;
    }

    .skills h2 {
        font-size: 48px;
    }

    .skill p {
        font-size: 28px;
    }

    .skills-shop h3 {
        font-size: 28px;
    }

    .skills-shop p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    .header nav a {
        padding: 10px;
        font-size: 20px;
    }

    .hero {
        padding: 40px 20px;
    }

    .hero-photo {
        width: 300px;
        height: 300px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero p {
        font-size: 18px;
    }

    .skills {
        padding: 40px 20px;
    }

    .skills h2 {
        font-size: 36px;
    }

    .skill p {
        font-size: 24px;
    }

    .icon-container {
        width: 80px;
        height: 80px;
    }

    .icon-container img {
        max-width: 60%;
        max-height: 60%;
    }

    .icon-container .python-icon {
        max-width: 270%; /* Adjust the size of the Python icon for smaller screens */
        max-height: 270%;
        transform: translate(-.2%, -3%);
    }

    .skills-shop {
        padding: 10px;
    }

    .skills-shop h3 {
        font-size: 24px;
    }

    .skills-shop p {
        font-size: 14px;
    }

    .footer {
        padding: 100px 20px;
    }

    .footer nav a {
        font-size: 20px;
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .header nav {
        flex-direction: column;
    }

    .header nav a {
        padding: 5px;
        font-size: 18px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 16px;
    }

    .skills h2 {
        font-size: 28
    }
}